<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yangzj.miniboot.domain.dao.UserDao">

    <select id="findUserByNameByXML" parameterType="String" resultType="com.yangzj.miniboot.domain.entity.User">
        SELECT * FROM user WHERE name = #{name}
    </select>
</mapper>